# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
Pods
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/28_No_Failure/3_No_Failure_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/28_No_Failure/4_No_Failure_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/29_Break_Rules/1_Break_Rules_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/29_Break_Rules/2_Break_Rules_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/29_Break_Rules/3_Break_Rules_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/29_Break_Rules/4_Break_Rules_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/30_Tribes/1_Tribes_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/30_Tribes/2_Tribes_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/30_Tribes/3_Tribes_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/30_Tribes/4_Tribes_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/01_Intro/1_Intro_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/01_Intro/2_Intro_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/01_Intro/3_Intro_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/02_Emotional_Mastery/1_Emotional_Mastery_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/02_Emotional_Mastery/2_Emotional_Mastery_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/02_Emotional_Mastery/3_Emotional_Mastery_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/03_Emotional_Mastery_2/1_Emotional_Mastery_2_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/03_Emotional_Mastery_2/2_Emotional_Mastery_2_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/English/03_Emotional_Mastery_2/3_Emotional_Mastery_2_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/01_Intro/1_Intro_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/01_Intro/2_Intro_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/01_Intro/3_Intro_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/02_Emotional_Mastery/1_Emotional_Mastery_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/02_Emotional_Mastery/2_Emotional_Mastery_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/02_Emotional_Mastery/3_Emotional_Mastery_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/03_Emotional_Mastery_2/1_Emotional_Mastery_2_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/03_Emotional_Mastery_2/2_Emotional_Mastery_2_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/03_Emotional_Mastery_2/3_Emotional_Mastery_2_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/04_Beliefs/1_Beliefs_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/04_Beliefs/2_Beliefs_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/04_Beliefs/3_Beliefs_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/05_Thought_Mastery/1_Thought_Mastery.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/05_Thought_Mastery/2_Thought_Mastery_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/05_Thought_Mastery/3_Thought_Mastery_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/06_Models/1_Models_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/06_Models/2_Models_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/06_Models/3_Models_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/07_Repetition/1_Repetition.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/07_Repetition/2_Repetition_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/07_Repetition/3_Repetition_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/08_Identity/1_Identity.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/08_Identity/2_Identity_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/08_Identity/3_Identity_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/09_Kaizen/1_Kaizen_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/09_Kaizen/2_Kaizen_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/09_Kaizen/3_Kaizen_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/09_Kaizen/4_Kaizen_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/10_Reading_Power/1_Reading_Power_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/10_Reading_Power/2_Reading_Power_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/10_Reading_Power/3_Reading_Power_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/10_Reading_Power/4_Reading_Power_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/11_Unlimited/1_Unlimited_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/11_Unlimited/2_Unlimited_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/11_Unlimited/3_Unlimited_MINI_STORY..mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/11_Unlimited/4_Unlimited_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/12_Healthy_100/1_Healthy_100_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/12_Healthy_100/2_Healthy_100_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/12_Healthy_100/3_Healthy_100_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/12_Healthy_100/4_Healthy_100_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/13_Walden/1_Walden_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/13_Walden/2_Walden_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/13_Walden/3_Walden_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/13_Walden/4_Walden_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/14_Superior_Man/1_Superior_Man_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/14_Superior_Man/2_Superior_Man_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/14_Superior_Man/3_Superior_Man_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/14_Superior_Man/4_Superior_Man_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/15_Taoism/1_Taoism_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/15_Taoism/2_Taoism_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/15_Taoism/3_Taoism_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/15_Taoism/4_Taoism_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/16_Big_Picture/1_Big_Picture_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/16_Big_Picture/2_Big_Picture_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/16_Big_Picture/3_Big_Picture_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/16_Big_Picture/4_Big_Picture_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/17_Small_is_Beautiful/1_Small_is_Beautiful_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/17_Small_is_Beautiful/2_Small_is_Beautiful_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/17_Small_is_Beautiful/3_Small_is_Beautiful_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/17_Small_is_Beautiful/4_Small_is_Beautiful_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/18_Slow_Burn/1_Slow_Burn_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/18_Slow_Burn/2_Slow_Burn_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/18_Slow_Burn/3_Slow_Burn_MINI_Story.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/18_Slow_Burn/4_Slow_Burn_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/19_Leaders_Make_Mistakes/1_Leaders_Make_Mistakes.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/19_Leaders_Make_Mistakes/2_Leaders_Make_Mistakes_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/19_Leaders_Make_Mistakes/3_Leaders_Make_Mistakes_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/19_Leaders_Make_Mistakes/4_Leaders_Make_Mistakes_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/20_Attractor_Factor/1_Attractor_Factor.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/20_Attractor_Factor/2_Attractor_Factor_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/20_Attractor_Factor/3_Attractor_Factor_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/20_Attractor_Factor/4_Attractor_Factor_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/21_Healthy_Heart/1_Healthy_Heart_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/21_Healthy_Heart/2_Healthy_Heart_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/21_Healthy_Heart/3_Healthy_Heart_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/21_Healthy_Heart/4_Healthy_Heart_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/22_Art_of_Power/1_Art_of_Power_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/22_Art_of_Power/2_Art_of_Power_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/22_Art_of_Power/3_Art_of_Power_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/22_Art_of_Power/4_Art_of_Power_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/23_Excitement/1_Excitement_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/23_Excitement/2_Excitement_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/23_Excitement/3_Excitement_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/23_Excitement/4_Excitement_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/24_Adventure/1_Adventure_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/24_Adventure/2_Adventure_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/24_Adventure/3_Adventure_MINI_STORY.mp3.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/24_Adventure/4_Adventure_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/25_Plateaus/1_Plateaus_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/25_Plateaus/2_Plateaus_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/25_Plateaus/3_Plateaus_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/25_Plateaus/4_Plateaus_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/26_Search_for_Meaning/1_Search_for_Meaning_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/26_Search_for_Meaning/2_Search_for_Meaning_VOCAB.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/26_Search_for_Meaning/3_Search_for_Meaning_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/26_Search_for_Meaning/4_Search_for_Meaning_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/27_Be_a_Champion/1_Be_a_Champion_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/27_Be_a_Champion/2_Be_a_Champion_VOCAB.mp3.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/27_Be_a_Champion/3_Be_a_Champion_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/27_Be_a_Champion/4_Be_a_Champion_POV.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/28_No_Failure/1_No_Failure_MAIN.mp3
EnglishEQ2.2_wangjie/Enesco/Resources/MP3/28_No_Failure/2_No_Failure_VOCAB.mp3
EnglishTest/01_Intro/1_Intro_MAIN.mp3
EnglishTest/01_Intro/2_Intro_VOCAB.mp3
EnglishTest/01_Intro/3_Intro_MINI_STORY.mp3
EnglishTest/02_Emotional_Mastery/1_Emotional_Mastery_MAIN.mp3
EnglishTest/02_Emotional_Mastery/2_Emotional_Mastery_VOCAB.mp3
EnglishTest/02_Emotional_Mastery/3_Emotional_Mastery_MINI_STORY.mp3
EnglishTest/03_Emotional_Mastery_2/1_Emotional_Mastery_2_MAIN.mp3
EnglishTest/03_Emotional_Mastery_2/2_Emotional_Mastery_2_VOCAB.mp3
EnglishTest/03_Emotional_Mastery_2/3_Emotional_Mastery_2_MINI_STORY.mp3
EnglishEQ2.2_wangjie/Podfile
EnglishEQ2.2_wangjie/Podfile.lock
